:root {
  --header-menu-color: #212121;
  --header-contacts-color: #757575;
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --article-color: #757575;
  --button-text-color: #ffffff;
  --team-name-color: #212121;
  --team-text-color: #757575;
  --footer-adress-color: #ffffff;
  --footer-contacts-color: #ffffff 60%;
  --portfolio-examples-title-color: #212121;
  --portfolio-examples-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.link {
  list-style-type: none;
  text-decoration: none;
}

/*---------------web-studio-style---------------*/

/*---------------header-style---------------*/

.head-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.06;
  letter-spacing: 0.02em;
  color: var(--header-menu-color);
  color: inherit;
}

.head-list-link:hover {
  color: var(--accent-color);
}

.head-list-link:focus {
  color: var(--accent-color);
}

.contact-list-link:hover {
  color: var(--accent-color);
}

.contact-list-link:focus {
  color: var(--accent-color);
}

.head-right-link {
  color: var(--header-contacts-color);
}

.head-right-link:hover {
  color: var(--accent-color);
}

.head-right-link:focus {
  color: var(--accent-color);
}

.logo-first-part {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-second-part {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-first-part-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-second-part-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.head-right {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.06;
  letter-spacing: 0.02em;
  color: var(--header-contacts-color);
}

.current {
  color: #2196f3;
}
/*---------------main part style---------------*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.hero-upper-information {
  background-color: #2f303a;
}

/*---------------button-style---------------*/
.order-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--button-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}

.order-button:hover,
.order-button:focus {
  color: var(--button-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
}

.portfolio-button-active {
  color: #ffffff;
  background-color: var(--accent-color);
}
.portfolio-button:active {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/*---------------feat-part-style---------------*/

.features-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.06;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.features-list-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--article-color);
}

/*---------------performance-part-style---------------*/

.performance-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
/*------------------team-part--------------*/
.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: var(--team-name-color);
}

.team-list-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: var(--team-text-color);
}

.team-list-item {
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

/*---------------footer-style---------------*/

.footer {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #2f303a;
}
.contact-list-adress {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-adress-color);
  font-family: inherit;
}

.contact-list-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-contacts-color);
  font-family: inherit;
}

.contact-list-link:hover {
  color: var(--accent-color);
}
.contact-list-link:focus {
  color: var(--accent-color);
}

.contact-list-adress:hover {
  color: var(--accent-color);
}
.contact-list-adress:focus {
  color: var(--accent-color);
}

/*---------------portfolio-style---------------*/
/*---------------header-exact-as-previous------*/

.portfolio-examples-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--portfolio-examples-title-color);
}

.portfolio-examples-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--portfolio-examples-text-color);
}

.potfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
}

.portfolio-button:hover {
  color: var(--accent-color);
}
.portfolio-button:focus {
  color: var(--accent-color);
}

/*---------------footer exact as previous------*/
